<!DOCTYPE html>
<html ng-app="store">
<head>
    <title>Learning Angular</title>
    <link href="assets/css/bootstrap.min.css" rel="stylesheet" />
</head>
<!--use directive to reference store controller-->
<body ng-controller="StoreController as store">
    <!--basic expression-->
    <p>{{ "hello" + " world!" }}</p>
    
    <ul class="list-group">
        <li class="list-group-item" ng-repeat="product in store.products" ng-hide="product.soldOut">
            <!--use expressions to reference properties of object-->
            <h3>{{ product.name }}
                <!--use a filter to affect the output-->
                <em class="pull-right">{{ product.price | currency }}</em>
                <img ng-src="{{ product.images[0].full }}"/>
            </h3>
            <button ng-show="product.canPurchase">Add to Cart</button>
            
            <section ng-controller="PanelController as panel">
                <ul class="nav nav-pills">
                    <li ng-class="{ active:panel.isSelected(1)}"><a href ng-click="panel.selectTab(1)">Description</a></li>
                    <li ng-class="{ active:panel.isSelected(2)}"><a href ng-click="panel.selectTab(2)">Specifications</a></li>
                    <li ng-class="{ active:panel.isSelected(3)}"><a href ng-click="panel.selectTab(3)">Reviews</a></li>
                    <li ng-class="{ active:panel.isSelected(4)}"><a href ng-click="panel.selectTab(4)">Selected: {{ panel.tab }}</a></li>
                </ul>
                
                <div class="panel" ng-show="panel.isSelected(1)">
                    <h4>Description</h4>
                    <p>{{ product.description }}</p>
                </div>
                <div class="panel" ng-show="panel.isSelected(2)">
                    <h4>Specifications</h4>
                    <blockquote>None yet</blockquote>
                </div>
                <div class="panel" ng-show="panel.isSelected(3)">
                    <h4>Reviews</h4>
                    <blockquote ng-repeat="review in product.reviews">
                        <b>Stars: {{ review.stars }}</b>
                        {{ review.body }}
                        <cite>by: {{ review.author }}</cite>
                    </blockquote>
                    
                    <form name="reviewForm">
                        
                    </form>
                </div>  
            </section>
        </li>
    </ul>
    
    <script src="assets/js/angular.js"></script>
    <script src="assets/js/app.js"></script>
    </body>
</html>
